<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dashboard | Everything Church</title>

    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/style-starter.css">
    <style>
        table{
            color: var(--heading-color) !important;
        }
        table a{
            color: var(--heading-color) !important;
        }
    </style>
</head>

<body>
    <!--header-->
    <%-include("./blocks/header-2")%>
        <!--/header-->

        <main class="py-4">
            <h2 class="text-center font-weight-bold mt-5 py-lg-5 pt-sm-3 display-4">Welcome Unique Soniyi</h2>
            <div class="container">
                <div class="row">
                    <a href="" class="btn btn-sm btn-style btn-primary my-4 col-12 col-md-3">Create Post <i class="fa fa-plus" aria-hidden="true"></i></a>
                </div>
                <h3 class="title-big mb-4">Overview</h3>
                <p class="mb-sm-5 mb-4">Your Dashboard serves as a control center for you to manage all your posts. If you need help navigating, you can always email our support centre.</p>

                <div class="table-responsive-lg">
                    <table class="table table-hover border-bottom text-center">
                        <thead>
                            <tr>
                                <th scope="col" class="text-left">Name</th>
                                <th scope="col">Status</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Category</th>
                                <th scope="col">Delete</th>
                                <th scope="col">Date Created</th>
                                <th scope="col">Last Updated</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="border-top-0">
                                <td class="text-truncate text-left" style="max-width: 150px;"><a href=""><i class="fa fa-book" aria-hidden="true"></i> This is how to be a good christian in the presence of the lord</a></td>
                                <td><small><i class="fa fa-dot-circle-o text-success" aria-hidden="true"></i></small> Published</td>
                                <td><a href=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                                <td>Faith</td>
                                <td><a href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <td>Jacob</td>
                                <td><small><i class="fa fa-dot-circle-o text-success" aria-hidden="true"></i></small> Published</td>
                                <td><a href=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                                <td>Love</td>
                                <td><a href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                                <td>@fat</td>
                                <td>@fat</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>

        <!-- footer -->
        <%-include("./blocks/footer-2")%>
            <!-- //footer -->

            <!-- Template JavaScript -->
            <script src="assets/js/jquery-3.3.1.min.js"></script>

            <script src="assets/js/theme-change.js"></script>

            <!-- stats number counter-->
            <script src="assets/js/jquery.waypoints.min.js"></script>
            <script src="assets/js/jquery.countup.js"></script>
            <script>
                $('.counter').countUp();
            </script>
            <!-- //stats number counter -->

            <script src="assets/js/owl.carousel.js"></script>
            <!-- script for banner slider-->
            <script>
                $(document).ready(function () {
                    $('.owl-one').owlCarousel({
                        loop: true,
                        margin: 0,
                        nav: false,
                        dots: false,
                        responsiveClass: true,
                        autoplay: true,
                        autoplayTimeout: 5000,
                        autoplaySpeed: 1000,
                        autoplayHoverPause: false,
                        responsive: {
                            0: {
                                items: 1
                            },
                            480: {
                                items: 1
                            },
                            667: {
                                items: 1
                            },
                            1000: {
                                items: 1,
                                nav: true
                            }
                        }
                    })
                })
            </script>
            <!-- //script -->

            <!-- script for tesimonials carousel slider -->
            <script>
                $(document).ready(function () {
                    $("#owl-demo1").owlCarousel({
                        loop: true,
                        margin: 20,
                        nav: false,
                        responsiveClass: true,
                        responsive: {
                            0: {
                                items: 1,
                                nav: false
                            },
                            768: {
                                items: 2,
                                nav: false
                            },
                            1000: {
                                items: 3,
                                nav: false,
                                loop: false
                            }
                        }
                    })
                })
            </script>
            <!-- //script for tesimonials carousel slider -->

            <!-- disable body scroll which navbar is in active -->
            <script>
                $(function () {
                    $('.navbar-toggler').click(function () {
                        $('body').toggleClass('noscroll');
                    })
                });
            </script>
            <!-- disable body scroll which navbar is in active -->

            <!--/MENU-JS-->
            <script>
                // $(window).on("scroll", function () {
                //     var scroll = $(window).scrollTop();

                //     if (scroll >= 80) {
                //         $("#site-header").addClass("nav-fixed");
                //     } else {
                //         $("#site-header").removeClass("nav-fixed");
                //     }
                // });

                //Main navigation Active Class Add Remove
                $(".navbar-toggler").on("click", function () {
                    $("header").toggleClass("active");
                });
                $(document).on("ready", function () {
                    if ($(window).width() > 991) {
                        $("header").removeClass("active");
                    }
                    $(window).on("resize", function () {
                        if ($(window).width() > 991) {
                            $("header").removeClass("active");
                        }
                    });
                });
            </script>
            <!--//MENU-JS-->

            <script src="assets/js/bootstrap.min.js"></script>


</body>

</html>