<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>LOGIN PAGE | Everything Church</title>

  <!-- google fonts -->
  <link href="//fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">
  <link href="//fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

  <!-- Template CSS -->
  <link rel="stylesheet" href="assets/css/style-starter.css">

</head>

<body>

  <!-- login section -->
  <main class="breadcrumb-bg breadcrumb-bg-about py-5 vh-100">
    <!-- toggle switch for light and dark theme -->
    <div class="mobile-position d-lg-none">
      <nav class="navigation">
        <div class="theme-switch-wrapper font-weight-bold">
          <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox">
            <div class="mode-container py-1">
              <i class="gg-sun"></i>
              <i class="gg-moon"></i>
            </div>
          </label>
        </div>
      </nav>
    </div>
    <!-- //toggle switch for light and dark theme -->
    <div class="container pt-lg-5 pt-3 p-lg-4">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
          <div class="map-content-9">
            <%if(success && success.length>1){%>
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <%=success%>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <%}else if(error && error.length>1){%>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <%=error%>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <%}%>
                  <div class="row justify-content-center">
                    <div class="col-3">
                      <h5 class="mb-sm-4 mb-3 text-center">Login</h5>
                    </div>
                    <div class="col-2 mt-1 d-none d-lg-block">
                      <!-- toggle switch for light and dark theme -->
                      <div class="mobile-position">
                        <nav class="navigation">
                          <div class="theme-switch-wrapper font-weight-bold">
                            <label class="theme-switch" for="checkbox">
                              <input type="checkbox" id="checkbox">
                              <div class="mode-container pb-4 py-1 px-1 rounded-circle bg-primary">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                              </div>
                            </label>
                          </div>
                        </nav>
                      </div>
                      <!-- //toggle switch for light and dark theme -->
                    </div>
                  </div>
                  <form action="/login" method="post">
                    <div class="twice">
                      <input type="text" class="form-control" name="username" id="email" placeholder="Email"
                        required="">
                    </div>
                    <div class="twice">
                      <input type="password" class="form-control" name="password" id="password"
                        placeholder="Password" required="">
                    </div>
                    <div class="text-right">
                      <button type="submit" class="btn btn-primary btn-style mt-4">Login</button>
                    </div>
                  </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- login section -->


  <!-- Template JavaScript -->
  <script src="assets/js/jquery-3.3.1.min.js"></script>

  <script src="assets/js/theme-change.js"></script>

  <!-- stats number counter-->
  <script src="assets/js/jquery.waypoints.min.js"></script>
  <script src="assets/js/jquery.countup.js"></script>
  <script>
    $('.counter').countUp();
  </script>
  <!-- //stats number counter -->

  <script src="assets/js/owl.carousel.js"></script>
  <!-- script for banner slider-->
  <script>
    $(document).ready(function () {
      $('.owl-one').owlCarousel({
        loop: true,
        margin: 0,
        nav: false,
        dots: false,
        responsiveClass: true,
        autoplay: true,
        autoplayTimeout: 5000,
        autoplaySpeed: 1000,
        autoplayHoverPause: false,
        responsive: {
          0: {
            items: 1
          },
          480: {
            items: 1
          },
          667: {
            items: 1
          },
          1000: {
            items: 1,
            nav: true
          }
        }
      })
    })
  </script>
  <!-- //script -->

  <!-- script for tesimonials carousel slider -->
  <script>
    $(document).ready(function () {
      $("#owl-demo1").owlCarousel({
        loop: true,
        margin: 20,
        nav: false,
        responsiveClass: true,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          768: {
            items: 2,
            nav: false
          },
          1000: {
            items: 3,
            nav: false,
            loop: false
          }
        }
      })
    })
  </script>
  <!-- //script for tesimonials carousel slider -->

  <!-- disable body scroll which navbar is in active -->
  <script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- disable body scroll which navbar is in active -->

  <!--/MENU-JS-->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>
  <!--//MENU-JS-->

  <script src="assets/js/bootstrap.min.js"></script>


</body>

</html>