<footer class="w3l-footer-29-main">
    <div class="footer-29 py-5">
      <div class="container py-md-4">
        <div class="row footer-top-29 justify-content-between">
          <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-1 pr-lg-5">
            <h6 class="footer-title-29">The Everything Blog </h6>
            <p class="text-justify">
              We provide content centered around the believer's faith, love, relationship, careers and business. Our content is targeted towards helping the average believer live a better lifestyle imitating that of christ.
            </p>
            <p class="mt-3">
              Some of our post content may include affiliate link, and as such the Everything Blog receives commission on purchases made through such links
            </p>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-5 col-6 footer-list-29 footer-2 mt-sm-0 mt-5">
            <h6 class="footer-title-29">Company</h6>
            <ul>
              <li><a href="about.html">About Everything Church</a></li>
              <!-- <li><a href="blog.html"> Latest Blog posts</a></li> -->
              <li><a href="#"> Write for us </a></li>
              <li><a href="/contact">Get in touch</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-5 col-6 footer-list-29 footer-3 mt-lg-0 mt-5">
            <h6 class="footer-title-29">Contact Info </h6>
            <p>Address : Study course, 343 marketing, #2214 cravel street, NY - 62617.</p>
            <p class="my-2">Phone : <a href="tel:+1(21) 234 4567">+1(21) 234 4567</a></p>
            <p>Email : <a href="mailto:info@example.com">info@example.com</a></p>
            <div class="main-social-footer-29 mt-4">
              <a href="#linkedin" class="linkedin"><span class="fa fa-lg fa-linkedin"></span></a>
              <a href="#facebook" class="facebook"><span class="fa fa-lg fa-youtube"></span></a>
              <a href="#twitter" class="twitter"><span class="fa fa-lg fa-twitter"></span></a>
              <a href="#instagram" class="instagram"><span class="fa fa-lg fa-instagram"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- copyright -->
    <section class="w3l-copyright text-center">
      <div class="container">
        <p class="copy-footer-29">© 2022 Everything Church. All rights reserved. Design by <a href="https://w3layouts.com/"
            target="_blank" rel="noopener noreferrer">
            W3Layouts</a></p>
        <small>Website Crafted By <a class="website-crafter" href="https://www.linkedin.com/in/kehinde-yishawu/">Kehinde Yishawu</a></small>
      </div>
  
      <!-- move top -->
      <button onclick="topFunction()" id="movetop" title="Go to top">
        &#10548;
      </button>
      <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
          scrollFunction()
        };
  
        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
          } else {
            document.getElementById("movetop").style.display = "none";
          }
        }
  
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
      </script>
      <!-- /move top -->
    </section>
    <!-- //copyright -->
  </footer>