<!--header-->
<header id="site-header" class="fixed-top">
  <%if(success && success.length>1){%>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%=success%>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <%}else if(error && error.length>1){%>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%=error%>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <%}%>
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-dark stroke">
            <!-- if logo is image enable this  -->
            <a class="navbar-brand" href="/">
              <img src="assets/images/logo.png" alt="logo" title="Every thing church" />
            </a>
            <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
              data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
              <span class="navbar-toggler-icon fa icon-close fa-times"></span>
              </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav mx-lg-auto">
                <li class="nav-item @@home__active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item @@about__active">
                  <a class="nav-link" href="#">About-Everythingchurch</a>
                </li>
                <li class="nav-item @@contact__active">
                  <a class="nav-link" href="/contact">Contact</a>
                </li>
              </ul>

              <!--/search-right-->
              <div class="search-right">
                <!-- <a href="#search" title="search"><span class="fa fa-search" aria-hidden="true"></span></a> -->
                <!-- search popup -->
                <div id="search" class="pop-overlay">
                  <div class="popup">

                    <form action="error.html" method="GET" class="search-box">
                      <input type="search" placeholder="Search" name="search" required="required" autofocus="">
                      <button type="submit" class="btn"><span class="fa fa-search" aria-hidden="true"></span></button>
                    </form>

                  </div>
                  <a class="close" href="#close">×</a>
                </div>
                <!-- /search popup -->
              </div>
              <%if(currentUser){%>
                <li class="nav-item dropdown active">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Pages <span class="fa fa-angle-down"></span>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item @@b__active" href="blog.html">Blog posts</a>
                    <a class="dropdown-item active" href="blog-single.html">Blog single</a>
                    <a class="dropdown-item @@error__active" href="error.html"> 404 Error page</a>
                    <a class="dropdown-item" href="landing-single.html"> Landing page</a>
                  </div>
                </li>
                <%}else{%>
                  <div class="top-quote mr-lg-2 text-center">
                    <a href="/signup" class="btn login mr-2"><span class="fa fa-user"></span> write for us</a>
                  </div>
                  <%}%>
            </div>
            <!-- toggle switch for light and dark theme -->
            <div class="mobile-position">
              <nav class="navigation">
                <div class="theme-switch-wrapper">
                  <label class="theme-switch" for="checkbox">
                    <input type="checkbox" id="checkbox">
                    <div class="mode-container py-1">
                      <i class="gg-sun"></i>
                      <i class="gg-moon"></i>
                    </div>
                  </label>
                </div>
              </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
          </nav>
        </div>
</header>
<!--/header-->