<!--header-->
<header id="site-header" class="fixed-top py-0">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark stroke">
      <!-- if logo is image enable this  -->
      <a class="navbar-brand" href="/">
        <img src="/assets/images/logo.png" alt="logo" title="Every thing church" />
      </a>
      <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
        data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
        <span class="navbar-toggler-icon fa icon-close fa-times"></span>
        </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mx-lg-auto">
          <li class="nav-item @@home__active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item @@about__active">
            <a class="nav-link" href="#">About-Everythingchurch</a>
          </li>
          <li class="nav-item @@contact__active">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>

        <!--/search-right-->
        <div class="search-right">
          <!-- <a href="#search" title="search"><span class="fa fa-search" aria-hidden="true"></span></a> -->
          <!-- search popup -->
          <div id="search" class="pop-overlay">
            <div class="popup">

              <form action="error.html" method="GET" class="search-box">
                <input type="search" placeholder="Search" name="search" required="required" autofocus="">
                <button type="submit" class="btn"><span class="fa fa-search" aria-hidden="true"></span></button>
              </form>

            </div>
            <a class="close" href="#close">×</a>
          </div>
          <!-- /search popup -->
        </div>
        <%if(currentUser){%>
          <ul class="navbar-nav mt-1">
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="fa fa-user"></span>
                <%=currentUser.firstName%> <span class="fa fa-angle-down"></span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item @@b__active" href="/dashboard">Dashboard</a>
                <a class="dropdown-item active" href="post/new">Create post</a>
                <!-- <a class="dropdown-item @@error__active" href="error.html"> Profile</a> -->
                <a class="dropdown-item" href="/logout"> Logout</a>
              </div>
            </li>
          </ul>
          <%}else{%>
            <div class="top-quote mr-lg-2 text-center">
              <a href="/signup" class="btn login mr-2"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> write for us</a>
            </div>
            <%}%>
      </div>
      <!-- toggle switch for light and dark theme -->
      <div class="mobile-position">
        <nav class="navigation">
          <div class="theme-switch-wrapper">
            <label class="theme-switch" for="checkbox">
              <input type="checkbox" id="checkbox">
              <div class="mode-container py-1">
                <i class="gg-sun"></i>
                <i class="gg-moon"></i>
              </div>
            </label>
          </div>
        </nav>
      </div>
      <!-- //toggle switch for light and dark theme -->
    </nav>
  </div>
  <!-- Alert message -->
  <%if(success && success.length>0){%>
    <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
      <%=success%>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <%}else if(error && error.length>0){%>
      <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
        <%=error%>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <%}%>
</header>
<!--/header-->