<!--header-->
<header id="site-header" class="nav-fixed">
    <div class="container">
        <nav class="navbar navbar-expand navbar-dark stroke">
            <!-- if logo is image enable this  -->
            <a class="navbar-brand" href="/">
                <img src="assets/images/logo.png" alt="logo" title="Every thing church" />
            </a>
            <!-- <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </span>
            </button> -->

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-lg-auto">
                    <!-- <li class="nav-item @@home__active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item @@about__active">
                        <a class="nav-link" href="#">About-Everythingchurch</a>
                    </li> -->
                    <li class="nav-item @@contact__active">
                        <h2>Dashboard</h2>
                    </li>
                </ul>

                    <ul class="navbar-nav mt-1">
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fa fa-user"></span>
                                 <span class="fa fa-angle-down"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item @@b__active" href="blog.html">Dashboard</a>
                                <a class="dropdown-item active" href="blog-single.html">Create post</a>
                                <a class="dropdown-item @@error__active" href="error.html"> Profile</a>
                                <a class="dropdown-item" href="/logout"> Logout</a>
                            </div>
                        </li>
                    </ul>
            </div>
            <!-- toggle switch for light and dark theme -->
            <div class="mobile-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container py-1">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>
<!--/header-->

<!-- Alert message -->
<%if(success && success.length>0){%>
    <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
        <%=success%>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <%}else if(error && error.length>0){%>
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            <%=error%>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <%}%>